.citem{
    margin:auto;
    margin-top:20px;
    margin-bottom: 20px;
        
}
.link{
    text-decoration: none;
}
/**icon hard**/
.hicon{
    color: red;
    background-color: transparent;
    border:none;
}

/****************************************************** mobile view ******************************************************************************/
@media only screen and (max-width: 600px) {
  
}